.vs/
SOMCHAIS-Adventure/.DS_Store
SOMCHAIS-Adventure/obj/
SOMCHAIS-Adventure/bin/
SOMCHAIS-Adventure/Content/obj/
SOMCHAIS-Adventure/Content/bin/
SOMCHAIS-Adventure/Content/.DS_Store
SOMCHAIS-Adventure/Properties/
.DS_Store/
